@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #FFFFFF;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 28px;
}

.navbar-imagem {
    height: 24px; 
}

.navbar-menu {
    display: flex;
    gap: 32px;
}

.navbar-menu-item {
    font-family: "Inter", sans-serif;
}

.navbar-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.navbar-botoes-item1{
    font-family: "Inter", sans-serif;
}

.navbar-botoes-item2{
    font-family: "Inter", sans-serif;
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: #FFF;
    background-color: #8E2424;
    font-size: 0.9rem;
}

.cabecalho{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.cabecalho-aboutus{
    font-family: "Inter", sans-serif;
    color: #8E2424;
    padding-top: 24px;
}

.cabecalho-maior{
    font-family: "Inter", sans-serif;
    font-size: 200%;
    padding: 24px;
}

.cabecalho-texto{
    font-family: "Inter", sans-serif;
    align-items: center;
    color: #667085;
    font-weight: 400;
    padding-bottom: 6px;
}

.metricas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 24px;
}

.numero-titulo-metrica{
    font-family: "Inter", sans-serif;
    color: #8E2424;
    font-size: 250%;
}

.titulo-metrica{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #101828;
}

.texto-metrica{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: #667085;
}

.vagas-abertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.vagas-abertas-call{
    font-family: "Inter", sans-serif;
    font-weight: medium;
    color: #8E2424;
    background-color:#8E24240D;
}

.vagas-abertas-titulo{
    font-family: "Inter", sans-serif;
    font-weight: semibold;
    font-size: 36px;
    color: #101828;
    padding: 20px;
}

.vagas-abertas-texto{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #667085;
    padding-bottom: 64px;
}

.vagas-abertas-imagem{
    height: 400px;
}

.vagas{
    padding-top: 4rem;
    font-family: "Inter";
}

.vagas span.area-principal{
    display:block;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #101828;
}

.vaga{
    border: 1px solid #EAECF0;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: #101828;
}

.vaga span.titulo-vaga{
    font-weight: 500;
    margin-bottom: 16px;
}

.vaga .informacoes{
    margin-top: 1rem;
    font-size: 90%;
    color: #667085;
    display: flex;
    gap: 2rem;
}

.depoimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    max-width: 80%;
    margin: 8rem auto;
    background-color: rgba(195, 25, 25, 0.05);
    padding: 3rem 2rem;
}

.depoimento span{
    color: #8E2424;
    font-weight: 500;
    text-align: center;
}

.depoimento img{
    width: 48px;
}

.depoimento h2{
    color:#101828;
    font-weight: 500;
    text-align: center;
    max-width: 70%;
    margin: 2rem 0;
}

.depoimento span.nome{
    color: #101828;
    margin: 0.5rem 0;
    font-weight: 400;
}

.depoimento span.cargo{
    color: #667085;
    font-weight: 400;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9FAFB;
    padding: 6rem 1rem;
    gap: 1.5rem;
    text-align: center;
    font-family: "Inter";
}

footer h2{
    color: #101828;
}

footer span{
    color: #667085;
}

footer form{
    display: flex;
    justify-content: space-between;
}

footer input{
    outline: none;
    border: 1px solid #D0D5DD;
    border-radius: 0.5rem;
    padding-left: 1rem;
    width: 12rem;
    margin-right: 1rem;
}